<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs") %>
    <title>Add New Blog</title>
  </head>
  <body>
    <%- include("./partials/nav.ejs") %>

    <!-- Heading -->
    <h1 class="text-center mt-2">Add New Blog</h1>

    <!-- Form Container -->
    <div class="container">
      <form action="/api/blog" method="post" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="coverImage" class="form-label">Cover Image</label>
          <input type="file" class="form-control" name="coverImage"></input>
        </div>
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" name="title" />
        </div>
        <div class="mb-3">
          <label for="content" class="form-label">Content</label>
          <textarea class="form-control" name="content"></textarea>
        </div>
        <button class="btn btn-primary">Submit</button>
      </form>
    </div>

    <%- include("./partials/scripts.ejs")%>
  </body>
</html>
